<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-alert class="bg-danger text-info">
    Ala ma kota
  </app-alert>

</div>
