/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap.scss';

// @import '~bootstrap/scss/_functions';
// @import '~bootstrap/scss/_variables';


@import "scss/mixins";

.container{
  @include make-container();
}
.row{
  @include make-row()
}
.col-article{
  @include make-col(5)
}
.col-article{
  @include make-col(5);
  color:black;
}
.col-article--collapsed{
  display: none;
}

.lh-table{
  // @include table()
  //  table-striped table-bordered table-hover table-responsive-lg
}

@include make-container-max-widths();

// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/grid";


