
@keyframes animacja{
  0% {
    transform: translate(0px,0px)
  }
  
  50%{
    transform: translate(100px,0px)
  }
  
  100%{
    transform: translate(100px,100px)
  }
}

.animate-me{
  animation: 2s 1s animacja cubic-bezier(0, 1.29, 0.58, 1) 2;
}


@keyframes spinner {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

.loader{
  width: 20px;
  height: 20px;
  border: 5px dotted blue;
  border: 5px dotted blue;
  border-radius: 50%;
  border-bottom-color: wheat;
  animation: .5s spinner infinite
}

