
main{
  width:80%;
  margin: 0 auto;
  color:#fff;
  background-color: #fff;
  /* height: 300px; */
}

.page-grid{
 display: grid;
 grid-gap: 1em;
 /* grid-template-columns: 1fr 4fr;
 grid-template-rows: 1fr auto 1fr;
 grid-template-areas: 
  "header"
  "sidebar article"
  "footer footer" */
}

header{
  background-color: blue;
  /* grid-area: header; */
  /* grid-area: 1 / 1 / 1 / 3; */
  grid-area: 1 / span 2
}

article{
  background-color: red;
  grid-area: article;
  /* grid-area: auto */
}

section{
  background-color: yellow;
  grid-area: sidebar;
  grid-area: 2 / 1
}

footer{
    background-color: green;
    /* grid-area: footer; */    
    /* grid-area: 3 / 1 / 4 / 3; */
    grid-area: 3 / span 2;
}