html{
  font-size: 15px;
}

body{
  font-size: 100%;
  line-height: 1.5em;
  font-family: sans-serif;
}

main{
  width: 30em;
  margin: 0 auto;
}

main h1{
  font-size: 3em;
  line-height: 2em;
  font-weight: normal;
}

article{
  margin-top:2.5em;
}

article h2{
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  text-align: center;
}

article p{
  margin: 1em 0;
  line-height: 2em;
  font-family: serif;
  text-align: justify;
}

@media (max-width:500px){
  body {
    font-size: 1em;
  }

  main{
    width:96vw;
  }

  main h1{
    font-size:1.5em;
    line-height: 2em;
  }
}

/* https://fonts.googleapis.com/css?family=Lato|Tangerine */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine Regular'), local('Tangerine-Regular'), url(https://fonts.gstatic.com/s/tangerine/v9/HGfsyCL5WASpHOFnouG-RFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

