.columns{
  flex-direction: column;
}

@page{
  size: a5 portrait;
  margin: 11mm 17mm 17mm 17mm;
  counter-increment: page 1;
}


@page :left {
  margin-left: 0.5cm;
}

@page :right {
  margin-left: 1.0cm;
}

article p {
  /* page-break-before: always; */
  page-break-inside: avoid;
}

article{
  /* margin-top:2cm; */
}

main > header {
  top:0;
  border-bottom: 1pt solid black;
}

footer{
  position: fixed;
  bottom:0cm;
}
footer::after{
  content: counter(page) "/" counter(pages);
}

/* main > header:after {
  content: "www.szkolenie-lufthansa.com";
} */
/* footer{
  position:fixed;
  bottom:0;
} */