
/* MOBILE */
main{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav-categories{
  order:10;
}
/* NAVIGATION - MOBILE */
header{
  display: flex;
  flex-wrap: wrap;
}
.nav-btns{
  display: flex;
  align-items: flex-start;
  flex: 1 1;
  justify-content: flex-end;
}
.nav-main, .nav-search{
  display: none;
  /* make 100% width */
  flex: 1 1 100%;
}
.nav-search input{
  width: 100%;
}
.nav-main.show, .nav-search.show{
  display: inherit;
}


/* MOBILE - LANDSCAPE */
@media (min-width: 500px) and (orientation:landscape){
  header h1{
    font-size: 21px;
  }
  #menu-toggle{
    display:none;
  }
  .nav-btns{
    flex: 1 1 10%;
    order: 1;
    align-self: center;
  }
  .nav-search{
    order:2;
  }
  .nav-main{
    display:inherit;
    flex: 1 1 40%;
  }
  .nav-main ul{    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
  }
  .nav-main ul li{
    flex: 0 1 25%;
  }
}

/* TABLET - PORTRAIT */
@media (min-width: 768px){

  .main-content{
    display: flex;
  }
  .main-content > :first-child{
    margin-right: 20px;
  }
  
  #search-toggle{
    display:none;
  }
  .nav-search{
    display: inherit;
    flex: 1 1 30%;
    align-self: center;
    justify-content: flex-end;
  }

  .nav-search input {
    width: 70px;
    transition: .5s width ease-out;
  }
  .nav-search input:focus{
    width: 100%;
  }

}

/* TABLET - LANDSCAPE */
/* SCREEN */
@media (min-width: 1024px) {

}

/* WIDESCREEN */
@media (min-width: 1440px){
  
}


/* Make radio buttons and check boxes larger if we have an inaccurate pointing device */
@media (pointer:coarse) { /* fine, none */
  input[type="checkbox"], input[type="radio"] {
      min-width:30px;
      min-height:40px;
      background:transparent;
  }
}




/* IMG UTILS */
.img-responsive{
  max-width:100%;
}
.img-placeholder{
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  background: lightgray;
}
.img-placeholder img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
