@import "animacje.css";

/* LAYOUT */

main{
  width: 80%;
  margin: 0 auto;
  min-width: 960px;
  max-width: 1140px;
}


.columns{
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 425px){
  header h1{
    font-size: 15px;
  }
}

@media screen and (max-width:960px){
  main{
    min-width: 0;
  }
  .columns{
    flex-direction: column;
  }
}

header{
  user-select: none;
}

/* MENU */

.menu ul ul{ 
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: .5s .5s transform ease-out;
}
.menu ul > li:hover > ul {
  transform: rotateX(0deg);
}

.menu ul ul ul{
  left: 100%;
  top: 0;
}

.menu ul { 
  display: flex;
  /* "fixing" lists */
  list-style-type: none; 
  padding-left: 0;
}

.menu ul li {
  flex-grow:1;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
}
/* ====== */

.menu.menu-main{
  text-align: center;
  text-transform: uppercase;
}

.menu.menu-main li {
  color: hotpink;
  background: pink;
  border: 1px solid currentColor;
  padding: 10px 0;
  position: relative;
  transition: .2s transform ease-out;
}

.menu.menu-main ul ul{
  box-shadow: 2px 1px 9px 0px grey;
}

.menu.menu-main ul li:hover{
  background: rebeccapurple;
  color: #fff;
  transform: scale(1.05)
}

/* ul li { display: inline; } */
/* END MENU */


p::first-letter {
  font-size: 65px;
  float: left;
  line-height: 50px;
  margin: 5px;
  border: 2px solid gray;
  padding: 3px;
}

p::first-line {
  background: lightgray;
}

p::selection {
  background: pink;
  color: red;
}


h2::after {
  content: ' ;-)';
  color: red;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  transform: rotate(90deg);
}

p:after {
  content: '😜 🙀 😏';
  display: block;
  text-align: center;
}

.😜.🙀.😏{
  color:hotpink !important;
}

.😜 a[href]::after{
  content: ' ☕ '
}
.😜 a[href^="http"]::after {
  content: ' 🙀 '
}
.😜 a[href^="https"]::after {
  content: ' 😏 '
}

@media print{
  .no-print{
    display: none;
  }
}