@media (min-resolution:192dpi){

}
html{
  /* Scale REMS and BODY */
  font-size:15px;
}
body{
  /* Scale all but REM */
  font-size:150%;
}
@media (min-width: 460px){
  body{
     font-size:100%;
  }
}
@media (min-width: 600px){
  body{
     font-size:60%;
  }
}


.viewport > *{
  background-color: cornflowerblue;
  margin-bottom: 20px;
  white-space: nowrap; 
}
.vw{
  font-size: 10vw;
  width: 10vw;
  height: 10vw
}
.vh{
  font-size: 10vh;
  width: 10vh;
  height: 10vh
}
.vmin{
  font-size: 10vmin;
  width: 10vmin;
  height: 10vmin
}
.vmax{
  font-size: 10vmax;
  width: 10vmax;
  height: 10vmax
}


.relative > *{
  background-color: aqua;
  margin-bottom: 10px;
  white-space: nowrap; 
}
.percent{
  font-size: 3%;
  width: 3%;
  height: 3%;
}
.em{
  font-size: 3em;
  width: 3em;
  height: 3em;
}
.rem{
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}
.ex{
  font-size: 3ex;
  width: 3ex;
  height: 3ex;
}
.ch{
  font-size: 3ch;
  width: 3ch;
  height: 3ch;
}


.absolute > *{
  background-color: mediumaquamarine;
  margin-bottom: 10px;
  white-space: nowrap; 
}
.pt{
  font-size: 3pt;
  width:3pt;
  height: 3pt;
}
.px{
  font-size: 3px;
  width:3px;
  height: 3px;
}
.pc{
  font-size: 3pc;
  width:3pc;
  height: 3pc;
}
.mm{
  font-size: 3mm;
  width:3mm;
  height: 3mm;
}
.in{
  font-size: 3in;
  width:3in;
  height: 3in;
}